.clients {
    position: relative;
}
.anchor-clients {
    position: absolute;
    top: -45px;
}
.clients__wrapper {
    padding-top: 47px;
    background: url("../img/mask-bg.svg");
    width: 100%;
    height: 320px;
    background-size: cover;
    background-position: 0px 0px;
    background-repeat-y: no-repeat;
}
.clients__title {
    padding-bottom: 27px;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    color: #252323;
}
.swiper-container.mySwiper-clients {
    width: 100%;
    height: 158px;
    position: relative;
    padding-left: 20px;
    padding-bottom: 50px;
}
.clients-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 108px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 12px;
}
.clients-button-next, .clients-button-prev {
    margin-top: -19px;
    width: 40px;
    height: 40px;
    outline: none;
}
.clients-button-prev {
    left: -7px;
}
.clients-button-next:after,
.clients-button-prev:after {
    content: none;
}
.clients-button-next.clients-button-next svg path,
.clients-button-prev.clients-button-prev svg path {
    fill: #00AFEF;
}
.clients-pagination {
    padding-top: 10px;
    width: 70px !important;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.clients-pagination .swiper-pagination-bullet {
    margin-right: 5px;
    width: 9px;
    height: 9px;
    background: #CFD0D2;
    outline: none;
    opacity: 1;
}
.clients-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    background: #00AFEF;
}

@media (min-width: 506px) {
    .clients__wrapper {
        background-size: auto;
    }
}

@media (min-width: 768px) {
    .anchor-clients {
        top: -65px;
    }
    .clients__wrapper {
        height: 360px;
    }
    .clients__title {
        padding-left: 60px;
        text-align: left;
        font-size: 38px;
    }
    .swiper-container.mySwiper-clients {
        height: 188px;
        padding-left: 60px;
    }
    .clients-slide {
        width: 280px;
        height: 138px;
    }
    .slide-zoloto svg {
        width: 223px;
        height: 89px;
    }
    .slide-mida svg {
        width: 223px;
        height: 54px;
    }
    .slide-miraton svg {
        width: 223px;
        height: 56px;
    }
    .slide-fit svg {
        width: 223px;
        height: 45px;
    }
    .slide-yabloki svg {
        width: 223px;
        height: 52px;
    }
    .slide-bigmag svg {
        width: 199px;
        height: 86px;
    }
    .slide-pp svg {
        width: 223px;
        height: 46px;
    }
}

@media (min-width: 1200px) {
    .anchor-clients {
        top: -95px;
    }
    .clients__wrapper {
        height: 445px;
        padding-top: 65px;
    }
    .clients__title {
        padding-left: 160px;
        padding-bottom: 42px;
        font-size: 55px;
        line-height: 71px;
    }
    .swiper-container.mySwiper-clients {
        padding-left: 160px;
        height: 193px;
    }
    .clients-buttons {
        width: 293px;
    }
}

@media (min-width: 1440px) {
    .clients__wrapper {
        height: 465px;
    }
    .clients__title {
        padding-left: 215px;
        font-size: 72px;
        line-height: 88px;
    }
    .swiper-container.mySwiper-clients {
        padding-left: 215px;
    }
}