.clients {
    position: relative;
}
.anchor-clients {
    position: absolute;
    top: -45px;
}
.clients__wrapper {
    padding-top: 47px;
    background: url("../img/mask-bg.svg");
    width: 100%;
    height: 320px;
    background-size: cover;
    background-position: 0px 0px;
    background-repeat-y: no-repeat;
}
.clients__title {
    padding-bottom: 27px;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    color: #252323;
}
.swiper-container.mySwiper-clients {
    width: 100%;
    height: 142px;
    position: relative;
    padding-bottom: 50px;
}
.clients-slide img {
    display: block;
    margin: 0 auto;
}
.clients-button-next, .clients-button-prev {
    margin-top: -19px;
    width: 40px;
    height: 40px;
    outline: none;
}
.clients-button-next {
    right: 0;
}
.clients-button-prev {
    left: -7px;
}
.clients-button-next:after,
.clients-button-prev:after {
    content: none;
}
.swiper-button-prev.clients-button-prev svg circle,
.swiper-button-prev.clients-button-prev svg path,
.swiper-button-next.clients-button-next svg circle,
.swiper-button-next.clients-button-next svg path {
    stroke: #00AFEF;
}
.clients-pagination {
    padding-top: 10px;
    width: 70px !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    white-space: nowrap;
}
.clients-pagination .swiper-pagination-bullet {
    margin-right: 5px;
    width: 9px;
    height: 9px;
    background: #CFD0D2;
    outline: none;
    opacity: 1;
}
.clients-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    background: #00AFEF;
}

@media (min-width: 460px) {
    .swiper-container.mySwiper-clients {
        max-width: 456px;
    }
}

@media (min-width: 506px) {
    .clients__wrapper {
        background-size: auto;
    }
}

@media (min-width: 618px) {
    .swiper-container.mySwiper-clients {
        max-width: 580px;
    }
}

@media (min-width: 768px) {
    .anchor-clients {
        top: -65px;
    }
    .clients__wrapper {
        height: 300px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .clients__title {
        text-align: left;
        font-size: 38px;
    }
    .swiper-container.mySwiper-clients {
        max-width: 680px;
        margin-right: auto;
        margin-left: 0;
    }
    .swiper-container.mySwiper-clients {
        height: 136px;
    }
}

@media (min-width: 1024px) {
    .clients__wrapper {
        height: 330px;
    }
    .swiper-container.mySwiper-clients {
        max-width: 970px;
    }
    .clients-slide img {
        width: 218px;
        height: 108px;
    }
    .swiper-container.mySwiper-clients {
        height: 158px;
    }
}

@media (min-width: 1200px) {
    .anchor-clients {
        top: -95px;
    }
    .clients__wrapper {
        height: 445px;
        padding-top: 65px;
        padding-left: 160px;
    }
    .clients__title {
        padding-bottom: 42px;
        font-size: 55px;
        line-height: 71px;
    }
    .swiper-container.mySwiper-clients {
        height: 193px;
        max-width: 1230px;
    }
    .clients-slide img {
        width: 255px;
        height: 143px;
    }
}

@media (min-width: 1440px) {
    .clients__wrapper {
        height: 465px;
        padding-left: 215px;
    }
    .clients__title {
        font-size: 72px;
        line-height: 88px;
    }
    .swiper-container.mySwiper-clients {
        max-width: 1573px;
    }
    .clients-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
}