.social-block {
    position: fixed;
    width: 50px;
    height: 170px;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}
.social-block__icon {
    cursor: pointer;
    position: absolute;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    height: 35px;
    width: 35px;
    right: 0px;
    bottom: 0px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}
.social-block__link, .social-block__label {
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.social-block__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 100;
    bottom: 20px;
    right: 20px;
}
.social-block__label-open {
    display: block;
}
.social-block__label-open.open {
    display: none;
}
.social-block__label-close {
    display: none;
}
.social-block__label-close.close {
    display: block;
}
.social-block__link {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 35px;
    width: 35px;
}
.social-block__input {
    display: none;
    position: absolute;
    z-index: 100;
}
.social-block__input:checked ~ .social-block__icon:nth-child(3) {
    opacity: 1;
    -webkit-transform: translateY(-135px);
        -ms-transform: translateY(-135px);
            transform: translateY(-135px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 160ms;
         -o-transition-delay: 160ms;
            transition-delay: 160ms;
}
.social-block__input:checked ~ .social-block__icon:nth-child(4) {
    opacity: 1;
    -webkit-transform: translateY(-90px);
        -ms-transform: translateY(-90px);
            transform: translateY(-90px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 200ms;
         -o-transition-delay: 200ms;
            transition-delay: 200ms;
}
.social-block__input:checked ~ .social-block__icon:nth-child(5) {
    opacity: 1;
    -webkit-transform: translateY(-45px);
        -ms-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 240ms;
         -o-transition-delay: 240ms;
            transition-delay: 240ms;
}
.social-block__label-open {
    -webkit-filter: drop-shadow(0px 0px 4px rgba(33, 255, 42, 0.65));
        filter: drop-shadow(0px 0px 4px rgba(33, 255, 42, 0.65));
}
.social-block__label-open:hover {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(33, 255, 42, 0.65));
        filter: drop-shadow(0px 0px 10px rgba(33, 255, 42, 0.65));
}
.social-block__label-close{
    -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 242, 18, 0.38));
        filter: drop-shadow(0px 0px 6px rgba(255, 242, 18, 0.38));
}
.social-block__label-close:hover {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 242, 18, 0.38));
        filter: drop-shadow(0px 0px 10px rgba(255, 242, 18, 0.38));
}
.social-phone svg {
    -webkit-filter: drop-shadow(0px 0px 4px rgba(33, 255, 42, 0.65));
            filter: drop-shadow(0px 0px 4px rgba(33, 255, 42, 0.65));
}
.social-phone svg:hover {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(33, 255, 42, 0.65));
            filter: drop-shadow(0px 0px 10px rgba(33, 255, 42, 0.65));
}
.social-viber svg {
    -webkit-filter: drop-shadow(0px 0px 3px rgba(200, 82, 255, 0.62));
            filter: drop-shadow(0px 0px 3px rgba(200, 82, 255, 0.62));
}
.social-viber svg:hover {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(200, 82, 255, 0.62));
            filter: drop-shadow(0px 0px 10px rgba(200, 82, 255, 0.62));
}
.social-telega svg {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(55, 183, 255, 0.5));
            filter: drop-shadow(0px 0px 5px rgba(55, 183, 255, 0.5));
}
.social-telega svg:hover {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(55, 183, 255, 0.5));
            filter: drop-shadow(0px 0px 10px rgba(55, 183, 255, 0.5));
}

@media (min-width: 768px) {
    .social-block,
    .social-block__label {
        right: auto;
        left: 13px;
    }
    .social-block__icon {
        right: auto;
    }
}

@media (min-width: 1200px) {
    .social-block {
        width: 70px;
    }
    .social-block__label {
        bottom: 30px;
    }
    .social-block, .social-block__label {
        left: 50px;
    }
    .social-block__link,
    .social-block__label,
    .social-block__icon,
    .social-block__label-open,
    .social-block__label-close,
    .social-phone svg,
    .social-telega svg {
        height: 60px;
        width: 60px;
    }
    .social-viber svg {
        width: 60px;
        height: 62px;
    }
    .social-block__input:checked ~ .social-block__icon:nth-child(5) {
        -webkit-transform: translateY(-80px);
            -ms-transform: translateY(-80px);
                transform: translateY(-80px);
    }
    .social-block__input:checked ~ .social-block__icon:nth-child(4) {
        -webkit-transform: translateY(-155px);
            -ms-transform: translateY(-155px);
                transform: translateY(-155px);
    }
    .social-block__input:checked ~ .social-block__icon:nth-child(3) {
        -webkit-transform: translateY(-230px);
            -ms-transform: translateY(-230px);
                transform: translateY(-230px);
    }
}