.header-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #252323;
    background: -o-linear-gradient(179.97deg, rgba(72, 68, 68, 0.6) -16.66%, rgba(37, 35, 35, 0.6) 100.93%), #252323;
    background: linear-gradient(270.03deg, rgba(72, 68, 68, 0.6) -16.66%, rgba(37, 35, 35, 0.6) 100.93%), #252323;
}
.header-mob__fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.header-mob__logo-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.header-mob__phone {
    padding-right: 30px;
}
.header-mob__callphone:hover svg circle:first-child,
.header-mob__callphone:hover svg path {
    fill: #21FF2A;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.header-desk {
    display: none;
}
/*hamburger*/
#menu__toggle {
    opacity: 0;
  }
#menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
#menu__toggle:checked ~ .hamburger {
    visibility: visible;
    right: 0;
    z-index: 2;
}
.menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: -4px;
    right: 0px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}
.menu__btn span {
    top: 12px;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: calc(100% - 20px);
    height: 100%;
    margin: 0;
    padding-bottom: 40px;
    background-color: #252323;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
}
.hamburger__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
}
.hamburger__logo {
    padding-left: 20px;
}
.hamburger__logo img {
    width: 65px;
    height: 65px;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 2px 2px;
}
.hamburger__lang {
    padding-right: 72px;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}
.hamburger-menu {
    position: relative;
}
.hamburger__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}
.hamburger__item {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);;
}
.hamburger__item:last-child {
    border-bottom: none;
}
.hamburger__item:hover .hamburger__link {
    color: #FFF212;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.hamburger__link {
    display: block;
    padding-top: 11px;
    padding-bottom: 15px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
}
.hamburger__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.hamburger__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hamburger__social-item {
    padding-right: 20px;
}
.hamburger-insta svg {
    -webkit-filter: drop-shadow(0px 0px 4px rgba(247, 84, 211, 0.62));
            filter: drop-shadow(0px 0px 4px rgba(247, 84, 211, 0.62));
}
.hamburger-telega svg {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(55, 183, 255, 0.5));
            filter: drop-shadow(0px 0px 5px rgba(55, 183, 255, 0.5));
}
.hamburger-viber svg {
    -webkit-filter: drop-shadow(0px 0px 3px rgba(200, 82, 255, 0.62));
            filter: drop-shadow(0px 0px 3px rgba(200, 82, 255, 0.62));
}
@-webkit-keyframes show_main {
    0% {
        opacity: 0;
        top: -100%;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}
@keyframes show_main {
    0% {
        opacity: 0;
        top: -100%;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}
@media (min-width: 768px) {
    .header-mob {
        display: none;
    }
    .header-desk {
        display: block;
        color: #fff;
        font-size: 15px;
        line-height: 20px;
    }
    /*header-top*/
    .header-top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 20px;
    }
    .header-top__kiev,
    .header-top__zapor {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-right: 20px;
    }
    .header-top__kiev a,
    .header-top__zapor a,
    .header-top__kiev span,
    .header-top__zapor span {
        display: block;
    }
    .header-top__kiev-phone,
    .header-top__zapor-phone {
        position: relative;
    }
    .header-top__kiev-phone:hover path,
    .header-top__zapor-phone:hover path {
        fill: #FFF212;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
    .header-top__kiev-phone svg,
    .header-top__zapor-phone svg {
        position: absolute;
        top: -2px;
        width: 15px;
        height: 20px;
    }
    .header-top__kiev-town,
    .header-top__zapor-town {
        padding-left: 20px;
    }
    .header-top__lang {
        padding-left: 20px;
    }
    .lang--active {
        color: #FFF212;
    }
    /*header-desk__nav*/
    .header-desk__nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: -26px;
    }
    .header-desk__nav-fixed {
        position: fixed;
        display: block;
        top: 0;
        z-index: 1000;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        -webkit-animation: show_main 1s;
                animation: show_main 1s;
    }
    .header-desk__nav-fixed .header-desk__list {
        height: 60px;
        background-color: #2E2B2B;
    }
    .header-desk__nav-fixed .header-desk__item {
        border: none;
    }
    .header-desk__nav-fixed .header-desk__link {
        color: #fff;
    }
    .header-desk__nav-fixed .header-desk__logo img,
    .header-desk__nav-fixed .header-desk__logo {
        width: 60px;
        height: 60px;
    }
    .header-desk__nav-fixed .header-desk__logo {
        top: 26px;
    }
    .header-desk__logo {
        position: absolute;
        left: 60px;
        width: 100px;
        height: 100px;
        cursor: pointer;
    }
    .header-desk__logo img {
        width: 100px;
        height: 100px;
        -webkit-box-shadow: 0px 4px 58px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 4px 58px rgba(0, 0, 0, 0.5);
    }
    .header-desk__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100vw;
        height: 45px;
        margin-top: 26px;
        padding-right: 50px;
        background-color: #FFF212;
    }
    .header-desk__item {
        padding-left: 9px;
        padding-right: 9px;
        border-right: 1px solid #000;
    }
    .header-desk__item:last-child {
        border: none;
    }
    .header-desk__link {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        font-weight: 600;
        color: #252323;
    }
    .header-desk__link:hover {
        -webkit-transform: translateY(-4px);
            -ms-transform: translateY(-4px);
                transform: translateY(-4px);
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
}
@media (min-width: 1200px) {
    .header-desk {
        font-size: 18px;
        line-height: 23px;
    }
    /*header-top*/
    .header-top {
        padding-right: 51px;
    }
    .header-top__kiev,
    .header-top__zapor {
        padding-right: 40px;
    }
    /*header-desk__nav*/
    .header-desk__nav-fixed .header-desk__logo img,
    .header-desk__nav-fixed .header-desk__logo {
        width: 100px;
        height: 100px;
    }
    .header-desk__nav-fixed .header-desk__list {
        height: 100px;
    }
    .header-desk__logo {
        left: 160px;
        width: 160px;
        height: 160px;
        top: 38px;
    }
    .header-desk__logo img {
        width: 160px;
        height: 160px;
    }
    .header-desk__list {
        height: 57px;
        padding-right: 100px;
    }
    .header-desk__item {
        padding-left: 12px;
        padding-right: 12px;
    }
    .header-desk__link {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (min-width: 1440px) {
    .header-top__lang {
        padding-left: 87px;
    }
    .header-desk__logo {
        left: 220px;
    }
    .header-desk__list {
        padding-right: 217px;
    }
}