.order {
    padding-bottom: 34px;
}
.order__title {
    margin: 0 auto;
    padding-bottom: 56px;
    font-weight: 800;
    font-size: 35px;
    line-height: 31px;
    color: #fff;
    text-align: center;
}
.order__title .carry {
    display: block;
}
.order__wrapper {
    padding-left: 20px;
    padding-right: 20px;
}
.order__box {
    position: relative;
    width: 280px;
    margin: 0 auto;
}
.order__box::after {
    position: absolute;
    content: "";
    background: url("../img/order-group-mob.svg");
    width: 62px;
    height: 526px;
    top: 18px;
    left: 0px;
}
.order-box {
    padding-left: 80px;
}
.order-box__title {
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    color: #fff;
}
.order-box__info {
    width: 156px;
    padding-bottom: 47px;
    font-size: 15px;
    line-height: 19px;
    color: #939597;
}
.order-box__info .carry {
    display: block;
}
.order__button {
    display: block;
    margin-top: 13px;
    width: 87.5%;
}
@media (min-width: 768px) {
    .order {
        padding-top: 30px;
    }
    .order__wrapper {
        width: 768px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .order__title {
        padding-left: 60px;
        padding-bottom: 130px;
        text-align: left;
        font-size: 38px;
    }
    .order__title .carry {
        display: inline-block;
    }
    .order__box {
        display: flex;
        width: auto;
    }
    .order__box::after {
        background: url("../img/order-group-tab.svg");
        width: 654px;
        height: 48px;
        top: -49px;
        left: -6px;
    }
    .order-box {
        padding-left: 0;
    }
    .order-box:nth-child(2) {
        padding-right: 17px;
    }
    .order-box__title {
        font-size: 20px;
        line-height: 35px;
    }
    .order-box__info .carry {
        display: inline-block;
    }
    .order__button {
        width: 225px;
        margin-left: 60px;
    }
}
@media (min-width: 1024px) {
    .order {
        position: relative;
    }
    .order::after {
        position: absolute;
        content: "";
        background: url("../img/order-tab.svg");
        width: 246px;
        height: 326px;
        right: 49px;
        bottom: 43px;
    }
}
@media (min-width: 1200px) {
    .order {
        padding-bottom: 300px;
    }
    .order::after {
        background: url("../img/order.svg");
        width: 320px;
        height: 426px;
        right: 40px;
        bottom: 55px;
    }
    .order__title {
        padding-left: 160px;
        font-size: 55px;
        line-height: 71px;
    }
    .order-box:nth-child(1) {
        padding-right: 60px;
    }
    .order-box:nth-child(2) {
        padding-right: 88px;
    }
    .order-box:nth-child(3) {
        padding-right: 55px;
    }
    .order-box__title {
        font-size: 24px;
        line-height: 34px;
    }
    .order-box__info {
        font-size: 18px;
        line-height: 22px;
    }
    .order__wrapper {
        width: auto;
        padding-left: 160px;
    }
    .order__box::after {
        background: url("../img/order-group-desk.svg");
        width: 918px;
        height: 62px;
        top: -69px;
    }
    .order__button {
        margin-top: 30px;
        margin-left: 160px;
        width: 311px;
    }
}
@media (min-width: 1440px) {
    .order {
        padding-top: 50px;
    }
    .order::after {
        right: 94px;
    }
    .order__title {
        padding-bottom: 204px;
        font-size: 72px;
        line-height: 61px;
    }
    .order-box__title {
        font-size: 28px;
        line-height: 34px;
    }
    .order__box::after {
        top: -90px;
    }
    .order-box:nth-child(2) {
        padding-right: 66px;
    }
    .order__button {
        margin-top: 14px;
        width: 403px;
    }
}