.requirements {
    position: relative;
    color: #fff;
}
.anchor-requirements {
    position: absolute;
    top: -120px;
}
.requirements__wrapper {
    padding-bottom: 20px;
}
.requirements__title {
    padding-bottom: 38px;
    font-weight: 800;
    font-size: 35px;
    line-height: 89%;
    text-align: center;
}
.requirements__list {
    margin: 0 auto;
    width: 280px;
}
.requirements__list input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
}
.requirements__list input[type=checkbox]:checked ~ .req-item__list{
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    -webkit-transform: translate(0 , 50%);
        -ms-transform: translate(0 , 50%);
            transform: translate(0 , 50%);
    overflow: hidden;
}
.requirements__list input[type=checkbox]:checked ~ i::before {
    -webkit-transform: translate(5px, 0) rotate(45deg);
        -ms-transform: translate(5px, 0) rotate(45deg);
            transform: translate(5px, 0) rotate(45deg);
}
.requirements__list input[type=checkbox]:checked ~ i::after {
    -webkit-transform: translate(-5px, 0) rotate(-45deg);
        -ms-transform: translate(-5px, 0) rotate(-45deg);
            transform: translate(-5px, 0) rotate(-45deg);
}
.requirements__list + .requirements__list {
    padding-top: 26px;
}
.req-item {
    position: relative;
}
.req-item__icon {
    position: absolute;
    -webkit-transform: translate( -6px , 0 );
        -ms-transform: translate( -6px , 0 );
            transform: translate( -6px , 0 );
    margin-top: 16px;
    left: 25px;
    top: -7px;
    z-index: 2;
}
.req-item__icon-2 {
    top: 9px;
}
.req-item__icon:before , .req-item__icon:after {
    content: "";
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    position: absolute;
    background-color: #252323;
    width: 3px;
    height: 16px;
}
.req-item__icon:before {
    -webkit-transform: translate(5px, 0) rotate(-45deg);
        -ms-transform: translate(5px, 0) rotate(-45deg);
            transform: translate(5px, 0) rotate(-45deg);
}
.req-item__icon:after {
    -webkit-transform: translate(-5px, 0) rotate(45deg);
        -ms-transform: translate(-5px, 0) rotate(45deg);
            transform: translate(-5px, 0) rotate(45deg);
}
.req-item__title-desk {
    display: none;
}
.req-item__title {
    position: relative;
    padding-bottom: 16px;
    padding-left: 53px;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
}
.req-item__title::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    left: 0;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.59);
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.59);
}
.req-item__title-1::before {
    top: -4px;
}
.req-item__title-2::before {
    top: 12px;
}
.req-item__list {
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.req-item__item {
    position: relative;
    padding-bottom: 12px;
    max-height: 800px;
    font-size: 15px;
    line-height: 19px;
    color: #939597;
    overflow: hidden;
    opacity: 1;
    -webkit-transform: translate( 0 , 0 );
        -ms-transform: translate( 0 , 0 );
            transform: translate( 0 , 0 );
    z-index: 2;
}
.req-item__item:first-of-type {
    padding-top: 10px;
}
.req-item__item:last-of-type {
    padding-bottom: 20px;
}
@-webkit-keyframes flipdown {
    0% {
      opacity: 0;
      -webkit-transform-origin: top center;
              transform-origin: top center;
      -webkit-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      -webkit-transform: rotateX(8deg);
              transform: rotateX(8deg);
    }
    83% {
      -webkit-transform: rotateX(6deg);
              transform: rotateX(6deg);
    }
    92% {
      -webkit-transform: rotateX(-3deg);
              transform: rotateX(-3deg);
    }
    100% {
      -webkit-transform-origin: top center;
              transform-origin: top center;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
}
@keyframes flipdown {
    0% {
      opacity: 0;
      -webkit-transform-origin: top center;
              transform-origin: top center;
      -webkit-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      -webkit-transform: rotateX(8deg);
              transform: rotateX(8deg);
    }
    83% {
      -webkit-transform: rotateX(6deg);
              transform: rotateX(6deg);
    }
    92% {
      -webkit-transform: rotateX(-3deg);
              transform: rotateX(-3deg);
    }
    100% {
      -webkit-transform-origin: top center;
              transform-origin: top center;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
}
@media (min-width: 768px) {
    .requirements {
        position: relative;
        padding-top: 30px;
    }
    .anchor-requirements {
        top: -100px;
    }
    .requirements::after {
        position: absolute;
        content: "";
        background: url("../img/req.svg");
        width: 300px;
        height: 194px;
        bottom: 0;
        right: 39px;
        background-size: cover;
    }
    .requirements__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 60px;
        padding-right: 60px;
    }
    .requirements__title {
        padding-left: 60px;
        font-size: 38px;
        text-align: left;
    }
    .requirements__list {
        margin: 0;
        width: 320px;
    }
    .requirements__list + .requirements__list {
        padding-top: 0;
    }
    .requirements__list input[type=checkbox],
    .req-item__icon, .req-item__title::before {
        display: none;
    }
    .req-item__title {
        display: none;
    }
    .req-item__title-desk {
        display: block;
        font-size: 20px;
        font-weight: 600;
        line-height: 35px;
    }
    .req-item__item {
        padding-bottom: 0;
    }
}
@media (min-width: 1024px) {
    .requirements::after {
        width: 400px;
        height: 259px;
    }
    .requirements__list + .requirements__list {
        margin-left: 50px;
    }
}
@media (min-width: 1200px) {
    .anchor-requirements {
        top: -120px;
    }
    .requirements::after {
        width: 610px;
        height: 395px;
        bottom: 16px;
        right: 38px;
    }
    .requirements__wrapper {
        padding-bottom: 200px;
    }
    .requirements__title {
        padding-left: 160px;
        font-size: 55px;
        line-height: 91px;
    }
    .requirements__wrapper {
        padding-left: 160px;
    }
    .requirements__list {
        width: 425px;
    }
    .req-item__title-desk {
        font-size: 28px;
        line-height: 34px;
    }
    .req-item__item {
        font-size: 18px;
        line-height: 23px;
    }
}
@media (min-width: 1440px) {
    .requirements__title {
        font-size: 72px;
        line-height: 88px;
    }
    .requirements__list {
        width: 496px;
    }
    .requirements::after {
        bottom: 0;
    }
}