.works {
    position: relative;
}
.anchor-works {
    position: absolute;
    top: -75px;
}
.works__wrapper {
    margin-bottom: 60px;
    padding-top: 27px;
}
.works-wrapper {
    height: 200px;
}
.works__title {
    padding-bottom: 18px;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    color: #fff;
}
.swiper-container.mySwiper-works {
    width: 100%;
    height: 250px;
    position: relative;
    padding-bottom: 50px;
}
.works-slide img {
    display: block;
    margin: 0 auto;
}
.swiper-buttons {
    position: relative;
    display: flex;
    height: 40px;
    width: 160px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.works-button-next,
.works-button-prev {
    margin-top: -19px;
    width: 40px;
    height: 40px;
    outline: none;
}
.works-button-prev {
    left: -7px;
}
.works-button-next {
    right: -5px;
}
.works-button-next:after,
.works-button-prev:after {
    content: none;
}
.swiper-button-next.works-button-next.swiper-button-disabled,
.swiper-button-prev.works-button-prev.swiper-button-disabled {
    opacity: 1;
}
.swiper-button-prev.works-button-prev svg circle,
.swiper-button-prev.works-button-prev svg path,
.swiper-button-next.works-button-next svg circle,
.swiper-button-next.works-button-next svg path {
    stroke: #00AFEF;
}
.swiper-button-prev.works-button-prev.swiper-button-disabled svg circle,
.swiper-button-prev.works-button-prev.swiper-button-disabled svg path,
.swiper-button-next.works-button-next.swiper-button-disabled svg circle,
.swiper-button-next.works-button-next.swiper-button-disabled svg path {
    stroke: #CFD0D2;
}
.works-pagination {
    padding-top: 10px;
    width: 70px !important;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.works-pagination .swiper-pagination-bullet {
    margin-right: 5px;
    width: 9px;
    height: 9px;
    background: #CFD0D2;
    outline: none;
    opacity: 1;
}
.works-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    background: #00AFEF;
}

@media (min-width: 768px) {
    .anchor-works {
        top: -100px;
    }
    .works__wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }
    .works__title {
        padding-bottom: 27px;
        text-align: left;
        font-size: 38px;
    }
    .swiper-container.mySwiper-works {
        height: 276px;
        max-width: 680px;
        margin-right: auto;
        margin-left: 0;
    }
    .works-wrapper {
        height: 226px;
    }
    .works-slide img {
        width: 320px;
        height: 226px;
    }
}

@media (min-width: 1024px) {
    .swiper-container.mySwiper-works {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .anchor-works {
        top: -130px;
    }
    .works__title {
        padding-bottom: 42px;
        font-size: 55px;
        line-height: 71px;
    }
    .swiper-container.mySwiper-works {
        height: 316px;
        max-width: 1230px;
    }
    .works__wrapper {
        padding-left: 160px;
    }
    .works-wrapper {
        height: 240px;
    }
    .works-slide {
        width: 360px;
        height: 258px;
    }
}

@media (min-width: 1440px) {
    .works__title {
        font-size: 72px;
        line-height: 88px;
    }
    .works__wrapper {
        padding-left: 215px;
    }
    .swiper-container.mySwiper-works {
        height: 316px;
    }
    .works-wrapper {
        height: 286px;
    }
    .swiper-container.mySwiper-works {
        height: 360px;
        max-width: 1573px;
    }
    .works-slide {
        width: 422px;
        height: 301px;
    }
    .works-slide img {
        width: 380px;
        height: 272px;
    }
    .works-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
}